
<div class="tingle-modal" style="">
    <button type="button" class="tingle-modal__close"><span class="tingle-modal__closeIcon">×</span><span class="tingle-modal__closeLabel">Close</span></button><div class="tingle-modal-box">
        <div class="tingle-modal-box__content">
            <div class="tingle-modal-box__header">
                <h2>Stay updated with latest article</h2>
            </div>
            <div class="tingle-modal-box__content-inner">
                <div id="mce-success-response" class="response hidden"></div>
                
                <div class="form-group">
                    <input type="email" id="mce-EMAIL" placeholder="Your email" />
                    <div id="mce-responses" class="clear">
                        <div id="mce-error-response" class="response hidden"></div>                      
                    </div>
                </div>
                <div class="form-group">
                    <input type="button" class="btn--big alone" id="mc-embedded-subscribe" value="Subscribe" />
                </div>
            </div>
        </div>
    </div>
</div>
