<link href="~/Content/CMS/Error.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Dangerous Request Found 
                </h2>
                <div class="error-details">
                    Sorry, request data is un processable due to protection level. Please correct it and request again!
                </div>
                <div class="error-actions">
                    <a href="/Question/Index" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a>
                    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-left"></span> Back To Previous Page </a>
                </div>
            </div>
        </div>
    </div>
</div>

